$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;

  background-image: url("/images/unnamed.png");
  background-size: cover;
  font-family: 'Fira Sans', sans-serif;
}

h1, h2 {
  font-weight: 300;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.content-container {
  background-color: #ffffff;
  padding: 15px;
  color: #58595b !important;
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

.content-container-top {
  @extend .content-container;

}

.content-container-bottom {
  @extend .content-container;
}

.btn {
  border-radius: 0 !important;
  min-width: 100px;
  margin: 10px;
  white-space: normal;
  max-width: 600px;
  box-shadow: none !important;
}

.btn-default,
.btn-default:focus {
  color: #58595b;
  background-color: white;
  border: 2px solid #58595b;
}

.btn-default:hover,
.open > .btn-default.dropdown-toggle {
  border: 2px solid #58595b;
  color: #47c3be;
  background-color: white;
}

.btn-default:active,
.btn-default.active {
  border: 2px solid #47c3be;
  color: #58595b;
  background-color: white;
}

.btn-primary,
.btn-primary:focus {
  color: #ffffff;
  background-color: #58595b;
  border: 3px solid #58595b;
}

.btn-primary:hover,
.open > .btn-primary.dropdown-toggle {
  border: 2px solid #58595b;
  color: #47c3be;
  background-color: #58595b;
}

.btn-primary:active,
.btn-primary.active {
  border: 2px solid #47c3be;
  color: #58595b;
  background-color: #47c3be;
}

.btn-answer,
.btn-answer:focus {
  background-color: rgba(0,0,0,0);
  color: #58595b;
  //  border: 2px solid #58595b;
}

.btn-answer:hover,
.open > .btn-answer.dropdown-toggle {
//  border: 2px solid #58595b;
  color: #47c3be;
  background-color: rgba(255,255,255 ,0.2);
}

.btn-answer:active,
.btn-answer.active {
//  border: 2px solid #47c3be;
  color: #58595b;
  background-color: rgba(255,255,255 ,0.3);
}

.navbar-default {
  background-color: #47c3be;
  border-bottom-color: #40b5ac;
}

.content-container-start {
  min-height: 450px;
}

.img-circle {
  max-width: 100px;
}

.post-box {
  min-height: 60px;
  text-align: center;
}

.info-box {
  width: 120px;
  min-height: 100px;
  margin: 0 auto;
}

hr {
  border-top: 2px solid #58595b;
}

.header-logo {
  padding-top: 10px;
  max-width: 100px;
}

.avatar-container-left {
  padding: 15px;
  padding-left: 0;
}

.avatar-container-right {
  padding: 15px;
  padding-right: 0;
}

.avatar {
  max-width: 90px;
  max-height: 90px;
}

.dialog-container {
  @extend .content-container;
  padding: 5px;
  min-height: 100px;
}

.relative {
  position: relative;
}

.bottom-align {
  position: absolute;
  bottom: 0;
  right: 0;
}

.selection-dialog {
  h2 {
    font-size: 25px;
  }
}

.bubble-bottom
{
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bubble-bottom:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 15px 0;
  border-color: #dbdbdb transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;
  left: 9px;
}

.bubble-right-bottom
{
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bubble-right-bottom:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 20px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -20px;
  bottom: 30px;
}

.bubble-left-top
{
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bubble-left-top:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 20px 15px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -20px;
  top: 30px;
}

.bubble-left-bottom
{
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.bubble-left-bottom:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 15px 0;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -20px;
  left: 11px;
}



